@charset "UTF-8";
@media screen and (min-width: 320px) and (max-width: 480px) {
	* {
		margin: 0;
		padding: 0;
	}
	#pc {
		display: none;
	}
}

@media only screen and (min-width: 321px) and (max-width: 1024px) {
	* {
		margin: 0;
		padding: 0;
		font-size: 12px;
	}
	#pc {
		display: none;
	}
	#iphone {
		background: url(../img/535eb53d44c6361e075d23e9c6358c9d.jpg) no-repeat fixed;
		background-size: 100% 100%;
	}
	#iphone table {
		width: 100vw;
		height: 100vh;
		background-color: rgba(233, 233, 233, 0.5);
	}
	#iphone table td {
		text-align: center;
	}
	#iphone table td img {
		border-radius: 50px;
	}
}

@media only screen and (min-width: 1029px) {
	* {
		margin: 0;
		padding: 0;
	}
	body {
		background: #66CCFF;
	}
	#as {
		background: url(img/IMG_2655.JPG) no-repeat -9999px -9999px;
	}
	#as1 {
		background: url(img/IMG_0065_min.JPG) no-repeat -9999px -9999px;
	}
	#as2 {
		background: url(img/IMG_1387_min.JPG) no-repeat -9999px -9999px;
	}
	#iphone {
		display: none;
	}
	#zemu {
		width: 100vw;
		height: 100vh;
		background-color: #fff;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1000;
	}
	#welcome {
		width: 40vw;
		height: 30vh;
		margin: 20vh auto;
		text-align: center;
	}
	#welcome p img {
		text-align: center;
		margin: 20px auto;
	}
	#conbottext {
		font-size: 18px;
		margin: 30px auto;
		width: 95%;
		border: 20px double #eee;
	}
	#conbottext div {
		margin-top: 50px;
	}
	#centercontent1 h1 {
		text-align: center;
		width: 100%;
		font-size: 70px;
		color: #eee;
	}
	#righttop {
		width: 60vw;
		display: inline-block;
		height: 291px;
	}
	#loveoadinglogo span {
		width: 20%;
		text-align: center;
		display: inline-block;
	}
	#lefttop {
		width: 40vw;
		float: left;
	}
	#righttop h2 {
		text-align: center;
		margin-top: 20px;
	}
	#contoptext {
		width: 95%;
		text-indent: 32px;
		line-height: 34px;
		font-size: 18px;
		margin-top: 20px;
		border: 10px double #eee;
	}
	#loveloding {
		width: 100%;
		height: 100px;
		margin-top: 50px;
	}
	#loveloding table td {
		width: 14.28vw;
		text-align: center;
	}
	#loveloding table tr {
		line-height: 25px;
		height: 25px;
	}
	#comlogo {
		margin: 0 auto;
		text-align: center;
		width: auto;
		display: block;
	}
	#logoright {
		width: 0;
		height: 100%;
	}
	#logoleft {
		width: 100%;
		height: 100%;
	}
	#centercontent p {
		width: 40%;
		padding-top: 30px;
		margin: 0 auto;
		line-height: 30px;
	}
	#centercontent {
		margin: 0 auto;
		float: left;
	}
	#nav {
		width: 50%;
		height: 100%;
		margin: 0 auto;
	}
	#nav li {
		float: left;
		width: 20%;
		text-align: center;
		list-style: none;
		cursor: pointer;
		color: #eee;
	}
	#nav li a {
		text-decoration: none;
		color: #eee;
	}
	
	#nav li a:hover {
		color: #fff;
		background: #999;
		display: block;
	}
	#nav li:hover {
		color: #fff;
	}
	#topcontent img {
		float: left;
	}
	#foot a {
		color: #fff;
		text-decoration: none;
	}
	.message2 {
		width: 90%;
		height: 85%;
		background: rgba(255, 255, 255, 0.5);
		margin: 30px auto;
		position: relative;
	}
	.message2_1{
		width: 90%;
		height: 85%;
		background: rgba(255, 255, 255, 0.7);
		position: absolute;
		left: 5%;
		top: 7.5%;
	}
	#rightbottom {
		width: 50vw;
		float: left;
		height: 100vh;
	}
	#leftbottom {
		width: 50vw;
		height: 100vh;
		float: left;
	}
	#centercontent2 {
		width: 100%;
		height: 100px;
		margin: 0 auto;
	}
	#bottomcontent2 {
		width: 100%;
		height: 100vh;
		background: rgba(255, 255, 255, 0.7);
	}
	/*.media-object {
		animation: t 5s;
		animation-iteration-count: infinite;
		animation-duration: 5s;
	}*/
	.centercontent2img{
		animation: t 5s;
		animation-iteration-count: infinite;
		animation-duration: 5s;
	}
	@keyframes t {
		0% {
			transform: rotateY(0deg);
		}
		25% {
			transform: rotateY(90deg);
		}
		50% {
			transform: rotateY(180deg);
		}
		75% {
			transform: rotateY(270deg);
		}
		100% {
			transform: rotateY(360deg);
		}
	}
}